table {
    table-size: 28px;
}

h1 {
    font-family: "微软雅黑";
    font-weight: 800;
}

p {
    text-align: right: ;
    text-decoration: underline;
    text-indent: 2em;
}

#sd {
    line-height: 200%;
    font-size: 19;
    font-weight: lighter;
    color: green;
}
