a{
	outline:0;
}
a:link{
	color:yellow;
	text-decoration:none;
}
body{
	background-color:green;
	text-align: center ;
	background-image: url(bg.jpg);
	background-position: 50% 50%;

}
h1:hover{
	background-color: #fff;
	text-align:center;
}